@charset "utf-8";

@import url("/assets/lib/prism/prism-vsc-dark-plus.min.css");

:root {
  interpolate-size: allow-keywords;
}

/* prism overrides */
pre[class*=language-] {
	margin: 0;padding: 16px 20px;
}

code[class*=language-], pre[class*=language-] {
	font-size: 14px;
	tab-size: 2;
}

/* main */
.ux-main {
	.ux-section.section-type-guide {
		flex-grow: 0;flex-shrink: 0;flex-basis: auto;
		.ux-article {gap: 0;}
	}
	.ux-section.section-type-content {
		.ux-article {padding: 2.4rem 0;}
	}
}

.code-viewer {
	--duration: .3s;
	position: sticky;top: var(--height-header);left: 0;width: 100%;height: auto;
}
.code-viewer .code-viewer-summary {--color: rgba(255, 255, 255, .6);}
.code-viewer .code-viewer-summary label {
	display: flex;flex-direction: row;justify-content: space-between;align-items: center;
	padding: 12px 16px;background-color: rgba(0, 0, 0, .8);;
}
.code-viewer .viewer-state {position: absolute;top: 0;left: -9999px;opacity: 0;}
.code-viewer .code-viewer-summary label > .text {font-size: 1.6rem;font-weight: 600;color: var(--color);transition: color var(--duration) ease;}
.code-viewer .code-viewer-summary label > .icon {
	--w: 2rem;--h: 2rem;
	--c: 2;--r: 2;
	--x: -1;--y: 0;
	background-color: var(--color);
	mask-image: url("/assets/images/ux/icons_angle_20.svg");
	transition: all var(--duration) ease;
}
.code-viewer .code-viewer-details {position: relative;height: 0;overflow: hidden;transition: height var(--duration) ease-in-out;}
.code-viewer .code-viewer-details .code-tool {position: absolute;top: 0;left: 0;width: 100%;height: 0}
.code-viewer .code-viewer-details .code-tool .code-text {position: absolute;top: 0;left: 0;width: 100%;font-size: 12px;margin: 0;padding: 0;border: 0;opacity: 0;}
.code-viewer .code-viewer-details .code-tool .code-copy {
	position: absolute;top: 16px;right: 12px;width: 32px;height: 32px;
	opacity: 0;transition: opacity var(--duration) ease;pointer-events: none;
	border-radius: 8px;background-color: rgba(0, 0, 0, .8);;
}
.code-viewer .code-viewer-details .code-tool .code-copy .icon {
	--w: 2rem;--h: 2rem;
	background-color: rgba(255, 255, 255, 1);
	mask-image: url("/assets/images/ux/icon_copy.svg");
}
.code-viewer .code-viewer-details .code-copy .text {position: absolute;width: 1px;height: 1px;overflow: hidden;margin: -1px;clip: rect(0, 0, 0, 0);}
.code-viewer .viewer-state:checked ~ .code-viewer-summary {--color: rgba(255, 255, 255, 1);}
.code-viewer .viewer-state:checked ~ .code-viewer-details .code-tool .code-copy {opacity: 1;pointer-events: auto;}
.code-viewer .viewer-state:checked ~ .code-viewer-summary label > .icon {transform: rotate(-180deg);}
.code-viewer .viewer-state:checked ~ .code-viewer-details {height: auto;height: calc-size(auto, size);}

.code-viewer .code-viewer-details .code-tool {z-index: 2;}
.code-viewer .code-viewer-details pre {z-index: 1;}



